<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles %>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<p><%= root_path %></p>
<p><%= articles_path %></p>
<p><%= new_article_path %></p>
<p><%= edit_article_path(2) %></p>

<%= link_to "New Article", new_article_path %>