<%#= form_with(model: menu) do |form| %>
  <%# if menu.errors.any? %>
<!--    <div style="color: red">-->
<!--      <h2><%#= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>-->

<!--      <ul>-->
        <%# menu.errors.each do |error| %>
<!--          <li><%#= error.full_message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>


<!--  <div>-->
    <%#= form.submit %>
<!--  </div>-->
<%# end %>

<%= form_with model: menu do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :taste %><br>
    <%= form.text_field :taste %>
  </div>

  <div>
    <%= form.label :volume %><br>
    <%= form.text_field :volume %>
  </div>

  <div>
    <%= form.label :recommend_cnt %><br>
    <%= form.text_field :recommend_cnt %>
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>