
<h1> 식당 정보 </h1>
<%= form_with model: @restaurant do |form| %>
  <%= form.label :name, "Restaurant Name" %>
  <%= form.text_field :name%>

  <br>
  <%= form.label :location, "location" %>
  <%= form.text_field :location %>

  <br>
  <%= form.label :genre, "genre" %>
  <%= form.select :genre, ['한식', '중식', '일식'] %>
<% end %>
<%= button_to "수정", edit_restaurant_path(@restaurant), :method => "get" %>

<h1> 메뉴 정보 </h1>

<table id="menus">
  <thead>
    <th>수정</th>
    <th>name</th>
    <th>price</th>
    <th>taste</th>
    <th>volume</th>
    <th>recommend_cnt</th>
    <th>삭제</th>
  </thead>
  <tbody>


  <% @restaurant.menus.each do |menu| %>
    <tr>
      <td> <input type="checkbox" name="menu_check" data-value="<%= menu.id %>"/> </td>
      <td><%= link_to menu.name, edit_restaurant_menu_path(@restaurant.id, menu.id) %></td>
      <td><%= menu.price %>원</td>
      <td><%= menu.taste %>점</td>
      <td><%= menu.volume %>점</td>
      <td><%= menu.recommend_cnt %></td>
      <td>
        <%= link_to "삭제", restaurant_menu_path(@restaurant.id, menu.id), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>


    </tr>
  <% end %>
  </tbody>
</table>

<%= button_to "추가", new_restaurant_menu_path(@restaurant), method: "get" %> <br>
<%= button_to "삭제", "/restaurants/1/menus/",
              form: { id: "delete_menus"},
              method: :delete,
              data: {turbo_confirm: "Are you sure?"}%>

<%= button_to "삭제2", new_restaurant_menu_path(@restaurant), remote: true,
              form: { "data-type" => "json" },
              method: :delete%>


<script>
    menus = document.getElementsByName('menu_check');
    for (i=0; i<menus.length; i++){
        menus[i].addEventListener('change', console_add, false);
    }
    function console_add(e){
        if (e.currentTarget.checked) {
            let action_value =  document.getElementById("delete_menus").action
            action_value = action_value + e.currentTarget.dataset.value + ","
            document.getElementById("delete_menus").action = action_value
        } else {

        }
    }

</script>

<style>
    h1 {
        font-size : 35px;
        text-align : center;
    }

    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    table td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    table tr:nth-child(even){background-color: #f2f2f2;}

    table tr:hover {background-color: #ddd;}

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #04AA6D;
        color: white;
    }

    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>